<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>

        Hi LD Team,

        <br /><br />

        {EmployeeName} has completed the Section 2 of the Action Plan Evaluation :-

        <br /><br />

        Name : <b>{LearningIntervention}</b>

        <br /><br />

        Link : <a href="{InterventionURL}">Action Plan Evaluation</a>

        <br /><br />

        Thank you

    </div>

</body>
</html>