<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>

        Hi {ManagerName}, 
        
        <br /><br />

        {EmployeeName} has applied to attend a learning Intervention :-
        
        <br /><br />

        Name : <b>{LearningInterventionName}</b>
        
        <br /><br />

        Approve or Reject Intervention.

        <br /><br />

        <a href="{InterventionURL}">Action Application</a> 
        
        <br /><br />

        Thank you

    </div>
       
</body>
</html>